#Client Dialog Configuration
#
#typewriterEnabled: Reveal dialog text character by character (default: true)
#typewriterCharsPerSecond: Number of characters revealed per second (default: 40)
#Mon Sep 28 20:03:42 GMT 2026
typewriterCharsPerSecond=40
typewriterEnabled=true
