#NPC Base Configuration
#
#allowBypassInvulnerability: Allows damage types like /kill command or void to bypass NPC invulnerability (default: true)
#Mon Sep 28 20:03:42 GMT 2026
allowBypassInvulnerability=true
